.Pet {
  width: 30%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px 20px 20px;
}

.delete {
  background-color: red;
  border: 1px solid #ddd;
  padding: 8px;
  margin-left: 10px;
}

.delete:hover {
  cursor: pointer;
  background-color: salmon;
}

@media (max-width: 500px) {
  .delete {
    color: white;
  }
}
